Flask==3.0.0
Flask-Limiter==3.8.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
Flask-Mail==0.9.1
PyJWT==2.8.0
gunicorn==21.2.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
openpyxl==3.1.5
reportlab==4.4.10
